<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>Login</title>
</head>
<body class="body-log">
  <form class="form-log">
    <h2>Login</h2>
    <input type="text" placeholder="usuario" name="Usuario"> 
    <input type="password" placeholder="&#128272; Contraseña" name="Contraseña"> 
    <input type="submit" value="ingresar"> 
    <input type="submit" value="la mierda de face "> 

  </form>
</body>
</html>